<!--Homework 14 - Eat the Burger - Part 1!!  -->


<!DOCTYPE html>
<html>
  <head>
    <!-- Tab Title -->
    <title>Eat da Burger!</title>
    <!-- Tab Image -->
    <link rel="icon" href="/assets/img/Krabby_Patty.png">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/assets/css/burger_style.css">
  </head>
  <body>
     <!-- Page Container -->
    <div class="container">      
      <br>
      <!-- Burger Image -->
      <center>
        <div class="row">
          <img src="/assets/img/Krabby_Patty.png">
        </div>
      </center>
      <!-- Page Title -->
      <center>
        <h1 class="red_font">Eat da Burger!</h1>
      </center>      
      <br>
      <!-- Burger Content from index.handlebars -->
      {{{ body }}}
    </div>
  </body>
</HTML>